* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

header {
	background-color: gray;
	height:50px;
}

.logo {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.header-img {
	width: 50px;
	border-radius: 20px;
	
}

ul {
	list-style: none;
	
}


#nav-bar ul{
	width: 500px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	
}

li {
	border-style: solid;
	border-color: black;
}

a {
	font-size: 30px;
	text-decoration: none;
	color: black;
}

.form-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon img {
	width: 100px;
}

#example-perf {
	display: flex;
	justify-content: center;
}

#pricing {
	margin: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.euphonium, .tuba, .plastic-tuba {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-color: black;
	border-size: 1px;
	margin: 10px;
	padding: 20px;
}